extends layout

block content
  .container
    h1 Produtos Disponíveis
    h3 Seja bem-vindes, #{user.email}
    .row
      if produtos.length
        each produto in produtos
          .col-md-4
            .card.mb-4
              img.card-img-top(src=produto.imagemUrl || 'https://via.placeholder.com/150', alt=`Imagem de ${produto.nome}`)
              .card-body
                h5.card-title= produto.nome
                p.card-text Descrição: #{produto.descricao}
                p.card-text Preço: R$ #{produto.preco}
                a.btn.btn-primary(href=`/produto/${produto.id}?authToken=${authToken}`) Ver Detalhes
      else
        p Nenhum produto disponível no momento.
